{
  "trailingComma": "none",
  "arrowParens": "always",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "proseWrap": "always",
  "endOfLine": "lf"
}
